:root{
    --primary-green:#093931;
    --secondary-green:#0D554A
}
.title-green{
    color: var(--secondary-green);
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}
.title-space{
    margin-left: 8.25rem;
}
.image-car{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 4px;
    object-fit: cover;
}
.car_shop_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 3rem;
}
.method_of_pay{
    display: flex;
    flex-wrap: wrap;
}
.button-aply{
    background-color: #F2C66D;
    width: 4.5rem;
    height: 2.3rem;
    color: #6B4A09;
    border: none;
    border-radius: 4px;
}
input[type="text"]{
    height: 2.3rem;
    width: 13.75rem;
    border-radius: 4px;
    border:solid 1px gray;
}
.button-pay{
    background-color: var(--secondary-green);
    color: white;
    border: none;
}
.button{
    padding: 1rem;
    border-radius: 2rem;
    width: 100%;
    cursor: pointer;
}
.total-pay{
    color: #E8502E;
    padding: 1rem;
    font-size: 1.2rem;
}

.table-container {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 3rem;
}
.table-pay{
    border-spacing: 1rem;
    width: 100%;
}

td button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.pay-method{
    background-color: #F8F9FA;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: solid 1px black;
    padding: 1rem 2rem;
    align-items: center;
}
.container-pay{
    width: 21.75rem;
}
.mastercard{
    display: flex;
    align-items: center;
}
.card-pay{
    width: 100%;
}
.descuent{
    color: #8F640C;
    padding: 1rem 0rem;
    font-size: 0.75rem;
}