:root{
    --primary-green:#093931
}

footer{
    background-color: var(--primary-green);
    color: white;
    padding: 2rem 3rem;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    width: 95px;
    padding: 3rem;
    height: auto;
}

.footer-link {
    display: flex;
    font-size: 14px;
}
.footer-link ul {
    list-style-type: none;
    padding-left: 0; 
    padding-right: 1rem;     
}
.footer-link li {
    display: block;
    padding: 0.5rem;
}

.footer-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

.content-sections {
    display: flex;
    flex-wrap: wrap;
}

.section h3 {
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
}

.section p {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
}


.input-group {
    display: flex;
}
.input-group input[type="email"] {
    padding: 0.5em;
    font-size: 16px;
    background-color: transparent;
    color: #ffffff;
    border: solid #ffffff;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
.input-group button {
    background-color: #F2C66D;
    color: white;
    padding: 1em;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}
.input-group button:hover {
    background-color: #f3bc4e;
}

.group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

