/* Variables globales */
:root{
    --primary-green:#093931
}

html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
/* Home styles */
.section-green{
    background-color: var(--primary-green);
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 4rem 6rem;
    justify-content: space-between;
}
.home-image{
    width: 18rem;
    height: auto;
}
.section-people{
    background-color: #171A1F4D;
    display: flex;
    width: 43rem;
    height: 23rem;
}
.text-content{
    padding: 3rem;
    font-size: 1.25rem;
}
.subtitle{
    color: var(--primary-green);
    font-size: 2.5rem;
}
.iframe-section{
    text-align: center;
    padding: 2rem;
}
.image-catalogue{
    width: 20%;
}
.button-shop{
    background-color: transparent;
    border-radius: 2rem;
    padding: 1rem;
    border-color: var(--primary-green);
    color: var(--primary-green);
}
.catalog-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    scrollbar-width: none;
}
.catalog-item {
    flex: 0 0 auto;
    width: 16rem;
    height: 20rem;
    margin-right: 10px;
    background-color: #f0f0f0;
    text-align: center;
    scroll-snap-align: start;
}
.catalog-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.catalogue{
    display: flex;
    padding: 0rem 3rem;
    height: 28rem;
}
.from-people{
    width: 16rem;
}