/* Variables globales */
:root{
    --primary-green:#093931
}

html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

.section-green{
    background-color: var(--primary-green);
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 4rem 6rem;
    justify-content: space-between;
}
.home-image{
    width: 18rem;
    height: auto;
}
.section-people{
    background-color: #171A1F4D;
    display: flex;
    width: 43rem;
    height: 23rem;
}
.text-content{
    padding: 3rem;
    font-size: 1.25rem;
}
.subtitle{
    color: var(--primary-green);
    font-size: 2.5rem;
}
.iframe-section{
    text-align: center;
    padding: 2rem;
}
.image-catalogue{
    width: 20%;
}
.button-shop{
    background-color: transparent;
    border-radius: 2rem;
    padding: 1rem;
    border-color: var(--primary-green);
    color: var(--primary-green);
}
.catalog-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    scrollbar-width: none;
}
.catalog-item {
    flex: 0 0 auto;
    width: 16rem;
    height: 20rem;
    margin-right: 10px;
    background-color: #f0f0f0;
    text-align: center;
    scroll-snap-align: start;
}
.catalog-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.catalogue{
    display: flex;
    padding: 0rem 3rem;
    height: 28rem;
}
.from-people{
    width: 16rem;
    
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&display=swap');




*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-primary: #093931FF;
    --tipography-headings:font-family: "Cormorant Garamond", serif;
    --color-secondary: #F5D38EFF;
    --color-links: #FFFFFFFF;
    --tipography-body: "Manrope", sans-serif;
    --color-p:#9095A0FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    max-width: 100%;
}

.header__nav{
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 8.25rem;
}

.header__links{
    display: flex;
    align-items: center;
}

.header__links ul{
    list-style: none;
    display: flex;
    align-items: center;
}


.header__links ul li{
    border-bottom: 4px solid transparent;
    border-radius: 0.13rem;
    padding: 0.65625rem 1.35188rem;
}

.header__links ul li a{
    text-decoration: none;
    color: var(--color-links);
    font-family: var(--tipography-body);
}

.header__logo{
    font-family: var(--tipography-headings);
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 1.875rem;
    line-height: 2.875rem; 
    font-weight: 400;
}


.header__links ul .active{
    border-color: var(--color-secondary);
}



.header__links ul .active a{
    color: var(--color-secondary);
}

.header__buttons{
    display: flex;
    gap: 1.5rem;
}

.header__buttons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__buttons button:hover svg path{
    stroke: var(--color-secondary);
}

.header__menu{
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: none;
}

@media (max-width: 850px){
    html{
        font-size: 14px;
    }
    .header__menu{
        display: block;
    }
    .header__links{
        display: none;
    }

}

@media (max-width: 850px){
    .title{
        width: 100%;
        justify-content: space-between;
    }
}

div h1{
    position: relative; 
    left: 6.25rem; 
    width: 25rem; 
    font-family: 'Cormorant Garamond';
    font-size: 3.125rem; 
    line-height: 3.75rem; 
    font-weight: 40; 
    color: #F5D38EFF;
    top: 12.5rem; 
}

.shopnow{
    background-color: transparent;
    border-color: #ffffff;
    color:#ffffff;
    position: absolute;
    top: 29rem;
    height: 2rem;
    left: 6rem;
    border-radius: 2rem;
    width: 9rem;
    cursor: pointer;
}


.imageandvideo{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}



.title .letters{
    display: flex;
    justify-content: space-between;
}

.imgsection1{
    border-radius: 1rem;
    margin-right: 16rem;
}

.videosection1{
    border-radius: 121px 121px 0px 0px;
    width: 15rem;
    position: absolute;
    margin-right: 5rem;
    border: solid 1px white;
}

.title .letters{
    background-color: #093931FF;
    background-image: url(/assets/images/Image\ 30\ \(1\).png);
    height: 46rem;
}

.section__services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 1.5rem;
    top: 845px; 
    left: 17.75rem; 
    right: 17.75rem;
}

.section__services .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.section__services .icons p{
    display: flex;
    align-content: center;
    justify-content: center;
    top: 144px; 
    left: 180px; 
    width: 276px; 
    height: 52px; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400;
    color: var(--color-p);
}


.Title-our-collections{
    font-family: var(--tipography-headings);
    text-align: center;
    align-content: center;
    top: 70px; 
    left: 580px;
    color: var(--color-primary);
    line-height: 3.5rem;
}


.our-collections .card figcaption{
    font-family: Cormorant Garamond; 
    font-size: 32px; 
    line-height: 48px; 
    color: var(--color-primary);
    background-size: cover;

}

.card figcaption{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center
}

@media(min-width: 1024px){
    #elevado1, #elevado2, .Title-our-collections{
        transform: translateY(-50px);
    }
}


.our-collections{
    padding: 3.8rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(17.4rem, 1fr));
    gap: 1.5rem;
    height: 100%;
}

.card{
    aspect-ratio: 360/360;
    position: relative;
}


.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.card figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.our-collections .card figcaption{
    bottom: 3rem; 
    left: 5rem; 
    font-family: Cormorant Garamond; 
    font-size: 2rem; 
    line-height: 48px; 
    font-weight: 400; 
    color: var(--color-links);
    font-family: var(--tipography-headings);
}


@media(min-width: 1025px){
    .our-collections{
        grid-template-columns: auto;
    }
}

.card figcaption{
    font-family: var(--tipography-body);
    position: absolute;
}




.our-collections .card img{
    border-radius: 0.625rem;
    aspect-ratio: 360/360; 
    display: grid;
    align-content: center;
}

@media(min-width: 1024px){
    .our-collections .card img{
    border-radius: 0.625rem;
    aspect-ratio: 360/360; 
    display: grid;
    align-content: center;
    }
}

.card figure{
    width: 100%;
}

.card figure .img{
    width: 100%;
    object-fit: cover;
    object-position: center;
} */


.shopnow2{
    background-color: transparent;
    border-radius: 2rem;
    padding: 1rem;
    width: 15%;
    height: 3rem;
    border-color: var(--primary-green);
    cursor: pointer;
}

div.button2{
    height: 6rem;
}

.button2{
    text-align: -webkit-center;
}

.grid-container.shopnow2{
    display: grid;
    align-items: center;

}


.logo-image{
    padding-bottom: 3rem;
}