@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&display=swap');

:root{
    --color-primary: #093931FF;
    --tipography-headings:font-family: "Cormorant Garamond", serif;
    --color-secondary: #F5D38EFF;
    --color-links: #FFFFFFFF;
    --tipography-body: "Manrope", sans-serif;
    --color-p:#9095A0FF;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav{
    max-width: 100%;
}

.header__nav{
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 8.25rem;
}

.header__links{
    display: flex;
    align-items: center;
}

.header__links ul{
    list-style: none;
    display: flex;
    align-items: center;
}


.header__links ul li{
    border-bottom: 4px solid transparent;
    border-radius: 0.13rem;
    padding: 0.65625rem 1.35188rem;
}

.header__links ul li a{
    text-decoration: none;
    color: var(--color-links);
    font-family: var(--tipography-body);
}

.header__logo{
    font-family: var(--tipography-headings);
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 1.875rem;
    line-height: 2.875rem; 
    font-weight: 400;
}


.header__links ul .active{
    border-color: var(--color-secondary);
}



.header__links ul .active a{
    color: var(--color-secondary);
}

.header__buttons{
    display: flex;
    gap: 1.5rem;
}

.header__buttons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__buttons button:hover svg path{
    stroke: var(--color-secondary);
}

.header__menu{
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: none;
}

@media (max-width: 850px){
    html{
        font-size: 14px;
    }
    .header__menu{
        display: block;
    }
    .header__links{
        display: none;
    }
}

.banner{
    display: flex;
    background-image: url(/assets/images/Image\ 30\ \(1\).png);
    background-color: var(--color-primary);
    width: 100%;
    height: 24.25rem;
}

section.banner{
    display: flex;
    justify-content: center;
}

.banner-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title-banner{
    
    font-family: var(--tipography-headings);
    color: var(--color-secondary);
    top: 9.125rem; 
    left: 34.75rem; 
    font-size: 62px; 
    line-height: 82px; 
    font-weight: 400;
}

.texto-busqueda{
    top: 252px; 
    left: 341px; 
    opacity: 1
}

input{
    width: 758px; 
    height: 52px; 
    padding-left: 52px; 
    padding-right: 20px; 
    font-family: var(--tipography-body);
    font-size: 18px; 
    line-height: 28px; 
    font-weight: 400; 
    background: var(--color-links);
    border-radius: 26px; 
    border-width: 1px; 
    border-color: #F8F9FAFF; 
    outline: none;
}

form{
    position: relative;
}

.form-banner svg{
    position: absolute;
    left: 1.3rem;
    top: 0.87rem;
}


.categories{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}
    


/* .menu{
    display: flex;
    align-items: center;
    align-content: center;
    font-family: var(--tipography-body);
    align-items: center;
    font-size: 14px;
} */

menu{
    list-style:none;
    display: flex;
    
    gap: 7px;
    padding: 2rem;
}

menu button{
    border: none;
    background-color: transparent;
}


ul .menu .list{
    aspect-ratio: 148.6/38;
    display: flex;
    flex: 1 1 0;
    color: var(--color-primary);
    align-items: center;
    font-family: var(--tipography-body);
    float: left;
    text-align: center;
    width: 9.2em;
    cursor: pointer;
}

select{
    border: none; 
    border-bottom: 1px solid black; 
    padding: 5px;
    outline: none; 
}

.categories ul{
    display: flex;
    list-style: none;
}

/* menu button{
    width: 148.6px; 
    height: 38px; 
    align-items: center; 
    justify-content: center; 
    font-family: "Manrope"; 
    font-size: 14px; 
    line-height: 22px; 
    color: #000000;
    opacity: 1; 
    border-radius: 19px 19px 19px 19px; 
    cursor: pointer;
} */

.menu .list{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.filter-select{
    display: flex;
    width: 138px;
    height: 36px;
    top: 522px;
    border-bottom:  1px #9095A0 solid;
}

.categories ul li{
    display: flex;
    align-content: center;
    align-items: center;
    border-bottom: 4px solid transparent;
    border-radius: 0.13rem;
}


.menu ul li{
    background-color: transparent
}

.menu li{
    border-right: 2px solid #9AEFE2FF;
    cursor: pointer;
    
}

main{
    padding: 3.8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.4rem, 1fr));
    gap: 1.5rem;
}

.card:nth-child(9){
    grid-column: 1/3;
    grid-row: 3/5;
}

.card{
    border-radius: 8px;
    aspect-ratio: 276/404;
}

.card figure{
    width: 100%;
    aspect-ratio: 276/320;
}

.card figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card div{
    padding: 0.75em 1.25em 0.75em 0.75em;
}

.card div h2{
    font-family: var(--tipography-headings);
    font-size: 1.5rem;
}

.card div p{
    font-family: var(--tipography-body);
}

@media(min-width: 600px){
    .card:nth-child(9){
        grid-column: 1/3;
        grid-row: 3/5;
    }
}

@media(min-width: 1025px){
    main{
        grid-template-columns: repeat(4, 1fr);
    }
}

.pagination {
    padding-top: 2.625rem;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}


  /* Estilo de los botones */
.pagination a {
    color: #9095A0;
    font-family: var(--tipography-body);
    top: 0px; 
    height: 2.75rem;  
    padding: 0 16px 0 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 16px; 
    line-height: 1rem; 
    font-weight: 400; 
    color: #0D554AFF;
    padding: 0 16px;
    text-decoration: none;
}


.pagination a.active {
    
    color: #0B463DFF;
    background: #00000000;
    border-radius: 21px;
    border-width: 1px;
    border-color: #0D554AFF;
    border-style: solid;
    
}


.section__services{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 6.125rem;
    top: 845px; 
    left: 17.75rem; 
    right: 17.75rem;
}

.section__services .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.section__services .icons p{
    display: flex;
    align-content: center;
    justify-content: center;
    top: 144px; 
    left: 180px; 
    width: 276px; 
    height: 52px; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400;
    color: var(--color-p);
}

:root{
    --primary-green:#093931
}

